In [1]:
import os
import pandas as pd
os.chdir("/Volumes/GoogleDrive/My Drive/PROJECT/Data/Aging Biomarkers")

# Data Import

In [2]:
data1 = pd.read_csv('34187551-GCST90014288-GO_0007568.h.tsv.gz', sep='\t')
data2 = pd.read_csv('34187551-GCST90014289-GO_0007568.h.tsv.gz', sep='\t')
data3 = pd.read_csv('34187551-GCST90014290-GO_0007568.h.tsv.gz', sep='\t')
data4 = pd.read_csv('34187551-GCST90014292-GO_0007568.h.tsv.gz', sep='\t')

# Preparation

In [91]:
TRAIT_1 = data1[
    ['hm_other_allele','hm_effect_allele','beta','standard_error']
]
TRAIT_1=TRAIT_1.rename(columns={
                                    "hm_other_allele":"allele_0",
                                    "hm_effect_allele":"allele_1",
                                    "beta":"trait1_b",
                                    "standard_error":'trait1_se'})
TRAIT_1.index = data1.hm_rsid
TRAIT_1 = TRAIT_1.loc[list(snp_index[0])]

In [ ]:
TRAIT_2 = data2[
    ['beta','standard_error']
]

TRAIT_2.index = data2.hm_rsid
TRAIT_2 = TRAIT_2.loc[list(snp_index[0])]

In [ ]:
TRAIT_3 = data3[
    ['beta','standard_error']
]

TRAIT_3.index = data3.hm_rsid
TRAIT_3 = TRAIT_3.loc[list(snp_index[0])]

In [ ]:
TRAIT_4 = data4[
    ['beta','standard_error']
]

TRAIT_4.index = data4.hm_rsid
TRAIT_4 = TRAIT_4.loc[list(snp_index[0])]

# Combination

In [ ]:
S_XY = TRAIT_1

In [ ]:

S_XY['trait2_b']=TRAIT_2['beta']
S_XY['trait2_se']=TRAIT_2['standard_error']
S_XY['trait3_b']=TRAIT_3['beta']
S_XY['trait3_se']=TRAIT_3['standard_error']
S_XY['trait4_b']=TRAIT_4['beta']
S_XY['trait4_se']=TRAIT_4['standard_error']

In [25]:
S_XY = S_XY.dropna()

In [26]:
#S_XY_clean = S_XY.set_index(S_XY['']).drop([''],axis=1)

In [90]:
S_XY

,rsid,allele_0,allele_1,trait1_b,trait1_se,trait2_b,trait2_se,trait3_b,trait3_se,trait4_b,trait4_se
rsid,,,,,,,,,,,
rs9881861,rs9881861,C,T,0.0684,0.0305,0.1011,0.0302,0.1495,0.0309,0.0985,0.0386
rs275646,rs275646,T,C,0.2024,0.0896,0.2066,0.0888,0.2835,0.0911,0.2993,0.1207
rs10872590,rs10872590,G,T,0.1108,0.0405,0.0751,0.0399,0.0925,0.0409,0.1293,0.0513
rs1381905,rs1381905,T,C,0.0792,0.0341,0.0896,0.0331,0.0926,0.0342,0.1335,0.0421
rs61360398,rs61360398,T,C,-0.0982,0.0452,-0.1089,0.0444,-0.1060,0.0456,-0.1308,0.0562
...,...,...,...,...,...,...,...,...,...,...,...
rs3742687,rs3742687,T,C,-0.0637,0.0308,-0.0625,0.0304,-0.0679,0.0312,-0.0852,0.0389
rs11237264,rs11237264,T,C,0.0846,0.0321,0.0883,0.0315,0.1112,0.0323,0.0926,0.0402
rs4699049,rs4699049,C,T,-0.0664,0.0305,-0.1433,0.0297,-0.1059,0.0308,-0.0722,0.0382
rs9408178,rs9408178,C,T,0.1116,0.0306,0.0673,0.0302,0.0651,0.0309,0.1290,0.0384
rs1526112,rs1526112,T,C,0.0688,0.0328,0.0765,0.0323,0.0684,0.0333,0.0928,0.0417

# Exporting

In [111]:
compression_opts = dict(method='gz',
                        archive_name='S_XY.csv') 

S_XY_clean.to_csv('S_XY_European.csv',index=False)
         compression=compression_opts)

# Bonferroni correction

In [ ]:
results=pd.read_csv('results.csv')

In [33]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [146]:
#index=np.where(results['-log10(p-val)']>corrected_value)[0]
#significant_snps = S_XY.iloc[index]['']
#significant_snps.to_csv('sig_snps.csv',index=False)
         # compression=compression_opts)

In [32]:
adjusted_p_values=(10**-results['-log10(p-val)'])*len(results)

In [44]:
adjusted_p_values

0       9.751650e-43
1       3.688756e-42
2       1.747015e-66
3       3.739540e-40
4       1.373162e-19
            ...
9995    9.035344e+00
9996    1.590132e+00
9997    9.390614e+00
9998    1.621414e-03
9999    1.502101e-03
Name: -log10(p-val), Length: 10000, dtype: float64

# Filtering

In [10]:
import numpy as np

In [11]:
data1_filtered = data1.iloc[np.where(data1['p_value']<0.06)]

data2_filtered = data2.iloc[np.where(data2['p_value']<0.06)]
data3_filtered = data3.iloc[np.where(data3['p_value']<0.06)]
data4_filtered = data4.iloc[np.where(data4['p_value']<0.06)]

In [12]:
l1 = list(set(data1_filtered['hm_rsid']).intersection(data2_filtered['hm_rsid']))
l2 = list(set(l1).intersection(data3_filtered['hm_rsid']))
l3 = list(set(l2).intersection(data4_filtered['hm_rsid']))

In [13]:
snp_index = pd.DataFrame(l3).dropna()

In [14]:
snp_index

               0
1      rs9881861
2       rs275646
3     rs10872590
4      rs1381905
5     rs61360398
...          ...
7098   rs3742687
7099  rs11237264
7100   rs4699049
7101   rs9408178
7102   rs1526112

[7102 rows x 1 columns]

# Other shit

In [15]:
dater = data1_filtered[['hm_rsid','p_value']].dropna()

In [17]:
len(data1)

7567839

In [18]:
len(dater)

837759

In [16]:
dater = dater.rename(columns={'hm_rsid':'','p_value':''})

In [14]:

dater.to_csv('dater.txt',index=False,sep='\t',float_format='%.3f')
         #compression=compression_opts)

In [ ]:
len(l3)

In [39]:
data1_filtered.head()

,hm_variant_id,hm_rsid,hm_chrom,hm_pos,hm_other_allele,hm_effect_allele,hm_beta,hm_odds_ratio,hm_ci_lower,hm_ci_upper,...,effect_allele,other_allele,effect_allele_frequency,beta,standard_error,p_value,n,odds_ratio,ci_lower,ci_upper
0,1_101883640_C_T,rs12116715,1.0,101883640.0,C,T,-0.2660,NaN,NaN,NaN,...,t,c,0.0976,-0.2660,0.0557,0.000002,29087,NaN,NaN,NaN
1,1_101922600_G_A,rs72731611,1.0,101922600.0,G,A,-0.2255,NaN,NaN,NaN,...,a,g,0.1300,-0.2255,0.0481,0.000003,30425,NaN,NaN,NaN
2,1_61895491_G_A,rs12030305,1.0,61895491.0,G,A,-0.3264,NaN,NaN,NaN,...,a,g,0.0473,-0.3264,0.0740,0.000010,30915,NaN,NaN,NaN
3,1_61894201_C_T,rs12042410,1.0,61894201.0,C,T,-0.3339,NaN,NaN,NaN,...,t,c,0.0456,-0.3339,0.0762,0.000012,30231,NaN,NaN,NaN
4,1_61887311_G_A,rs72676225,1.0,61887311.0,G,A,-0.3244,NaN,NaN,NaN,...,a,g,0.0460,-0.3244,0.0744,0.000013,30915,NaN,NaN,NaN

KeyboardInterrupt:

In [ ]:
S_XY=new.rename(columns={"hm_rsid":"",
                                    "hm_other_allele":"allele_0",
                                    "hm_effect_allele":"allele_1",
                                    "beta":"trait1_b",
                                    "standard_error":'trait1_se'})